<div class="sidebar">

    <div class="logo">

     MATRICE DES COMPETENCES
    </div>

   <a routerLink="/admin/dashboard" routerLinkActive="active">
    <i class="bi bi-speedometer2"></i>
    Dashboard
</a>

<a routerLink="/admin/users" routerLinkActive="active">
    <i class="bi bi-people"></i>
    Users
</a>

<a routerLink="/admin/categories" routerLinkActive="active">
    <i class="bi bi-tags"></i>
    Categories
</a>

<a routerLink="/admin/competences" routerLinkActive="active">
    <i class="bi bi-award"></i>
    Competences
</a>

<a routerLink="/admin/reports" routerLinkActive="active">
    <i class="bi bi-file-earmark-bar-graph"></i>
    Reports
</a>

</div>