<div class="sidebar">

    <div class="logo">

     MATRICE DES COMPETENCES
    </div>

    <a href="#">
        <i class="bi bi-speedometer2"></i>
        Dashboard
    </a>

    <a href="#">
        <i class="bi bi-people"></i>
        Users
    </a>

    <a href="#">
        <i class="bi bi-award"></i>
        Skills
    </a>

    <a href="#">
        <i class="bi bi-tags"></i>
        Categories
    </a>

    <a href="#">
        <i class="bi bi-table"></i>
        Matrix
    </a>

    <a href="#">
        <i class="bi bi-file-earmark-bar-graph"></i>
        Reports
    </a>

</div>