.layout {
    min-height: 100vh;
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 200px;
    height: 100vh;

    background: #8048db;
    color: white;

    padding: 30px 20px;

    overflow-y: auto;

    z-index: 1000;
}


/* CONTENT */
.content {
    margin-left: 260px;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: #F5F6FA;
}


/* PAGE */
.page {
    flex: 1;
    padding: 30px;
}